<h1 class="center white-text"></h1>
<div class="center card transparent">
  <div class="card-content white-text">
    <h3>Add a new Food</h3>
    <a href="/apps/new" class="btn red darken-4">More Food</a>
  </div>
</div>
<div class="center card transparent">
  <div class="card-content white-text">
    <h3>View your Food</h3>
    <a href="/apps" class="btn red darken-4">View Food</a>
  </div>
</div>
