<nav class="brown darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Turf & Turf</a>
    <a
      href="#"
      data-activates="mobile"
      class="button-collapse"
    >
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/apps">Food in Cart</a></li>
      <li><a href="/apps/new">Add another food item</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/">Home</a></li>
      <li><a href="/apps">Your Food</a></li>
      <li><a href="/apps/new">New Food</a></li>
    </ul>
  </div>
</nav>
