<h1 class="center white-text">Add A New Food</h1>
<form method="POST" action="/apps">
  <div class="input-field white-text">
    <input id="title" name="title" required />
    <label class="active" for="title">What Dish</label>
  </div>
  <div class="input-field white-text">
    <textarea
      class="materialize-textarea"
      id="desc"
      required
      name="description"
    >
    </textarea>
    <label for="desc" class="active">Special Requests</label>
  </div>
  <button class="btn right">Save</button>
</form>
